#container {
  text-align: center;
  color: #333;
  width: 100%;
  margin: 0 auto;
}

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

#posts-list{
  max-width: 90%;
  justify-self: center;
  margin: 0 auto;
}

#likes-container{
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span> ion-icon{
  font-size: 30px;
}

#likes-container ion-icon:hover{
  cursor: pointer;
}

#likes-container ion-icon.liked{
  color: #ff0000;
}

#likes-container ion-icon.unliked{
  color: #000000;
}

#likes-container > span{
  justify-self: center;
  display: flex;
}